
/* sign in page style */

#log-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, .7);
    padding: 2rem 0;
    display: none;
}
.login-wrap {
	width: 100%;
    margin: auto;
	max-width: 400px;
	min-height: 550px;
	position: relative;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    padding: 2.5rem;
}
.login-wrap .close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #aaa;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 50%;
    cursor: pointer;
}
.login-wrap hr {
    border-top: 1px solid #0288b1;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: rotatey(180deg);
	backface-visibility: hidden;
	transition: all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
	display:none;
}
.login-html .tab,
.login-form .group .button {
	text-transform: capitalize;
}
.login-html .tab {
	transform: scale(.8);   
    padding: .2rem .5rem 0;
    border-radius: 5px;
    color: #555;
	display: inline-block;
    cursor: pointer;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
    transform: scale(1.1);
    background: #03A5D6;
    color: #fff;
}
.login-form {
	position: relative;
	perspective: 1000px;
    transform-style: preserve-3d;
    margin: 2rem 0 0;
}
.login-form .group {
    margin-bottom: 2rem;
}
.login-form .group .input {
    border: none;
    outline: none;
    border-radius: 0;
    box-shadow: none;
    color: #888;
    background: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    font-size: 13px;    
}
.login-form .group .button {
    display: block;
    width:100%;
    background: #03A5D6;
    color: #fff;
    padding: .5rem 0;
    border: none;
    border-radius: 5px;
    outline: none;
}
.login-form .group label .icon {
	width: 15px;
	height: 15px;
	border-radius: 2px;
    position: relative;
    top: 3px;
	display: inline-block;
    background: #fff;
    border: 1px solid #888;
}
.login-form .group label .icon:before,
.login-form .group label .icon:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 2px;
	background: #fff;
	transition: all .2s ease-in-out 0s;
}
.login-form .group label .icon:before {
	left: 2px;
	width: 5px;
	bottom: 6px;
	transform: scale(0) rotate(0);
}
.login-form .group label .icon:after {
	top: 6px;
	right: 1px;
	transform: scale(0) rotate(0);
}
.login-form .group .check + label {
    cursor: pointer;
    color: #888;
    font-size: .8rem;
}
.login-form .group .check:checked + label .icon {
    background: #03A5D6;
    border: none;
}
.login-form .group .check:checked + label .icon:before {
	transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
	transform: scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + hr + .login-form .sign-in-htm {
	transform: rotate(0);
}
.login-html .sign-up:checked + .tab + hr + .login-form .sign-up-htm {
	transform: rotate(0);
}
.hr {
	height: 2px;
	margin: 1.5rem 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.foot-lnk {
    text-align: center;
    display: block;
}
.foot-lnk .forget-btn {
    color: #03A5D6;
}
.foot-lnk label {
    cursor: pointer;
    color: #03A5D6;
}