

@media (max-width: 992px) {
    body {
        padding-top: 4rem;
    }
    header .top-header .contact-links {
        display: none !important;
    }
    header .bottom-header {
        position: absolute;
        right: -100%;
        opacity: 0;
        height: 0;
        padding: 0;
    }
    header .bottom-header.show {
        right: 0;
        opacity: 1;
        height: auto;
        box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
        width: 250px;
    }
    header .bottom-header.show .links {
        flex-direction: column;
        padding: 1rem 0;
        width: 100%;
    }
    header .bottom-header.show .links li {
        width: 100%;
    }
    header .bottom-header.show .links li a {
        display: block;
        padding: .8rem;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
    }
    header .bottom-header.show .links li:last-child a {
        border-bottom: 0;
    }
    header .home-banner .cd-headline {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
}
@media (max-width: 767px) {
    h1 {
        font-size: 1.7rem;
    }
    header .top-header .logo {
        width: 80px;
    }
    header .home-banner .cd-headline {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .our-properties .box,
    .latest-news .box,
    .our-properties .filter-box {
        width: 75%;
        margin: 0 auto 1rem;
    }
    .view-page .property-name {
        font-size: 1.2rem;
    }
    .view-page .prop-subtitle {
        font-size: 1rem;
    }
    .profile-page .nav-pills .nav-link {
        font-size: .8rem;
        padding: .5rem;
    }
}
@media (max-width: 575px) {
    header .home-banner .cd-headline {
        font-size: 1.5rem;
    }
}
@media (max-width: 460px) {
    header .top-header .logo {
        width: 65px;
    }
    header .top-header .some-links .social {
        display: none !important;
    }
    header .top-header .some-links .other-links li {
        margin-left: .2rem;
    }
    header .top-header .some-links .other-links li a {
        font-size: .7rem;
    }
    header .bottom-header.show {
        width: 200px;
    }
    header .home-banner .cd-headline {
        font-size: 1rem;
    }
    #log-page .login-wrap {
        max-width: 300px;
    }
}

/* classes for js header script */

@media (min-width: 993px) {
    header.scrolled .navigation-menu {
        top: -65px;
        transition: all .2s linear;
    }
    header.scrolled .bottom-header {
        background: #fff;
        box-shadow: 3px 5px 5px rgba(0, 0, 0, .1);
    }
    header.scrolled .bottom-header .flex-box {
        justify-content: space-between !important;
    }
    header.scrolled .bottom-header .logo {
        display: block !important;
    }
    header.scrolled .bottom-header ul.links li a {
        color: #333;
    }
    header.scrolled .bottom-header ul.links li.active a,
    header.scrolled .bottom-header ul.links li:hover a {
        color: var(--primary-color);
    }
}
